<!--Employee List Table-->
<app-add-employee (onAddEmployee)="addEmployee($event)"></app-add-employee>

<table class="table table-hover">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Join Date</th>
        <th scope="col">Department</th>
        <th scope="col">Salary Due</th>
        <th scope="col">Delete Entry</th>
      </tr>

      
    </thead>
    <tbody>
        <tr app-employee-item *ngFor="let employee of employees" [employee]="employee"  
        (onDeleteEmployee)="deleteEmployee(employee)"
        (onToggleReminder)="toggleReminder(employee)">
            
        </tr>
    </tbody>
</table>