<!-- <table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.Name}}</td>
        <td>{{employee.Department}}</td>
    </tr>
</table>
 -->

<app-add-employee (onAddEmployee)="addEmployee($event)"></app-add-employee>
<app-employee-item *ngFor="let employee of employees" [employee]="employee"  
(onDeleteEmployee)="deleteEmployee(employee)"
(onToggleReminder)="toggleReminder(employee)"></app-employee-item>

